:root {
    --var-font: "Fira Code", "Geist Mono" !important;
}

/* Code comment style */
.mtk3 {
    font-family: "Monaspace Radon", monospace !important;
    color: #008c7d !important;
}

.line-numbers {
    position: relative !important;
    width: 35px !important;
    font-size: 16px !important;
    font-family: var(--var-font);
    opacity: 0.7;
}

/* Code canvas top shadow */
.monaco-editor .scroll-decoration {
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, .75) !important;
    top: -6px !important; */
}

/* Toolbars when tabs are enabled. */
.monaco-workbench
    .part.editor
    > .content
    .editor-group-container
    > .title
    .editor-actions {
    display: none !important;
}

/* Side bar */
.part.sidebar {
    /* box-shadow: 0px 0px 50px rgba(0, 0, 0, .25); */
}

/* File Explorer Selected Item */
.monaco-list.list_id_1 .monaco-list-row.selected {
    /* background-color: #4f5971 !important;
    opacity: 1 !important;
    border-top: 1px #727b90 solid;
    border-bottom: 1px #727b90 solid; */
}

/* List item label name */
.monaco-list.list_id_1 .monaco-list-row.selected .label-name {
    /* color: #fff !important;
    opacity: 1 !important; */
}

/* File explorer action buttons */
.monaco-workbench .part.sidebar .title-actions .actions-container {
    display: none;
}

/* File Explorer Item Label */
.monaco-tree .monaco-tree-row .label-name,
.monaco-list .monaco-list-row .monaco-icon-label .label-name {
    font-family: var(--var-font);
    font-size: 14px !important;
    font-weight: 400 !important;
}

/* Sidebar top shadow */
.monaco-scrollable-element > .shadow.top {
    /* box-shadow: 0px 0px 10px rgba(0,0,0,.75) !important;
    top: -3px !important; */
}

/* Sidebar title */
.composite.title {
    /* display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-items: center !important; */
}
.composite.title h2 {
    /* font-weight: bold !important;
    font-size: 12px !important;
    text-transform: uppercase;
    color: #bc9abc !important; */
}

.composite.title h2::before {
    /* display: inline-block;
    margin-right: 6px;
    font-size: 1.1rem;
    content: '🚀'; */
}

/* Scroll Bar */
.slider {
    width: 10px !important;
    border-radius: 12px;
}

.codicon-toolbar-more,
.codicon-word-wrap {
    display: block !important;
}

/* Tooltip box style */
.monaco-editor-hover,
.monaco-hover {
    backdrop-filter: blur(3px) !important;
    border-radius: 12px !important;
    padding: 8px !important;
}

/* Project title's style at the top. */
.monaco-workbench
    .part.titlebar
    > .titlebar-container
    > .titlebar-center
    > .window-title
    > .command-center
    .action-item.command-center-center {
    border: none !important;
    background: transparent !important;
}

/* Project Title */
.titlebar-center {
    font-family: var(--var-font);
    font-size: 14px !important;
    color: #fff;
}

/* Search Label */
.search-label {
    font-family: var(--var-font);
    font-size: 14px !important;
    color: #fff;
    display: block;
}

/* Command Palette */
.quick-input-widget {
    backdrop-filter: blur(3px) !important;
    border: 1px solid #334155 !important;
    border-radius: 12px !important;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);

    top: 50% !important;
    transform: translateY(-50%) !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
    border-radius: 8px !important;
    font-family: var(--var-font);
    font-size: 12px !important;
    margin-bottom: 16px !important;
    padding: 6px !important;
}

#command-blur {
    background: rgba(0, 0, 0, 0.15);
    transition: ease-in-out;
    transition-duration: 300ms;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);
}

/* Command palette's input box placeholder. */
.monaco-inputbox input::placeholder {
    color: #9ca3af !important;
}

.command-center-center {
    width: auto !important;
}

/* Remove background for lists */
.monaco-list-rows {
    background: transparent !important;
}

.notifications-toasts .monaco-list-row:hover {
    background: none !important;
}

/* Container that holds the VS Code home icon. */
.editor-group-watermark {
    max-width: none !important;
}

.letterpress {
    /* Shopper Logo */
    background-image: url("data:image/svg+xml,%3Csvg width='246' height='300' viewBox='0 0 246 300' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5 72.4138H225.5V300H20.5V72.4138Z' fill='%231F2131'/%3E%3Cpath d='M246 186.207L164 206.897V144.828L246 124.138V186.207Z' fill='%231A1C2A'/%3E%3Cpath d='M82 258.621L0 279.31V217.241L82 196.552V258.621Z' fill='%231A1C2A'/%3E%3Cpath d='M123 124.138C94.71 124.138 71.75 100.966 71.75 72.4138H51.25C51.25 112.345 83.435 144.828 123 144.828C162.565 144.828 194.75 112.345 194.75 72.4138H174.25C174.25 100.966 151.29 124.138 123 124.138Z' fill='%231A1C2A'/%3E%3Cpath d='M123 20.6897C151.29 20.6897 174.25 43.8621 174.25 72.4138H194.75C194.75 32.4828 162.565 0 123 0C83.435 0 51.25 32.4828 51.25 72.4138H71.75C71.75 43.8621 94.71 20.6897 123 20.6897Z' fill='%231F2131'/%3E%3C/svg%3E%0A") !important;
    width: 40% !important;

    /* Laravel Cameroun Logo */
    /* background-image: url("data:image/svg+xml,%3Csvg width='963' height='300' viewBox='0 0 963 300' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4506_22)'%3E%3Cpath d='M1.43539 30.1435L55.9719 61.7225L110.508 30.1435L55.9719 0L1.43539 30.1435Z' fill='%231A1C2A'/%3E%3Cpath d='M177.961 64.5934L231.063 94.7369L285.599 64.5934L231.063 33.0144L177.961 64.5934Z' fill='%231A1C2A'/%3E%3Cpath d='M0 235.407L111.943 300V238.278L53.1013 203.828V67.4642L0 35.8853V235.407Z' fill='%231A1C2A'/%3E%3Cpath d='M233.933 100.479V163.636L287.034 132.057L286.891 70.335L233.933 100.479Z' fill='%231A1C2A'/%3E%3Cpath d='M117.684 238.277V300L228.192 235.407V173.684L117.684 238.277Z' fill='%231A1C2A'/%3E%3Cpath d='M58.842 67.4642V196.651L111.943 165.072V35.8853L58.842 67.4642Z' fill='%231A1C2A'/%3E%3Cpath d='M175.091 132.057L228.192 163.636V100.479L175.091 70.335V132.057Z' fill='%231A1C2A'/%3E%3Cpath d='M60.9948 201.675L114.814 232.536L225.322 168.66L172.221 136.364L60.9948 201.675Z' fill='%231A1C2A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M389.551 33.0144V153.23H433.732V173.864H365.969V33.0144H389.551ZM516.122 92.823V80.2632H538.212V174.163H516.122V161.603C513.137 166.388 508.958 169.976 503.286 172.668C497.913 175.359 492.241 176.555 486.569 176.555C479.405 176.555 472.837 175.359 466.867 172.668C460.897 170.275 455.822 166.388 451.344 161.902C447.165 157.416 443.583 152.034 441.493 146.053C439.105 140.072 437.911 133.493 437.911 127.213C437.911 120.634 439.105 114.354 441.493 108.373C443.881 102.392 447.165 97.0096 451.344 92.524C455.822 88.0383 460.897 84.1508 466.867 81.7584C472.837 79.067 479.405 77.8709 486.569 77.8709C492.241 77.8709 497.614 79.067 503.286 81.7584C508.958 84.4498 513.137 88.0383 516.122 92.823ZM514.331 138.577C515.824 134.988 516.421 131.101 516.421 127.213C516.421 123.325 515.824 119.438 514.331 115.849C513.137 112.261 511.047 109.27 508.659 106.28C506.271 103.589 503.286 101.495 499.704 99.701C496.122 98.2058 492.539 97.3087 488.062 97.3087C483.882 97.3087 480.002 98.2058 476.718 99.701C473.434 101.196 470.449 103.589 468.061 106.28C465.673 108.971 463.583 112.261 462.389 115.849C461.195 119.438 460.3 123.325 460.3 127.213C460.3 131.101 460.897 134.988 462.091 138.577C463.285 142.165 465.374 145.455 467.763 148.146C470.151 150.837 473.136 152.931 476.42 154.725C479.703 156.22 483.584 157.117 487.763 157.117C491.942 157.117 495.823 156.22 499.405 154.725C502.689 153.23 505.674 151.136 508.361 148.146C511.047 145.455 512.838 142.165 514.331 138.577ZM556.123 174.163V80.2632H616.423V101.794H578.213V174.163H556.123ZM697.023 92.823V80.2632H719.113V174.163H697.023V161.603C694.037 166.388 689.858 169.976 684.186 172.668C678.813 175.359 673.141 176.555 667.47 176.555C660.305 176.555 653.738 175.359 647.768 172.668C641.797 170.275 636.722 166.388 632.245 161.902C628.065 157.416 624.483 152.034 622.394 146.053C620.006 140.072 618.811 133.493 618.811 127.213C618.811 120.634 620.006 114.354 622.394 108.373C624.782 102.392 628.065 97.0096 632.245 92.524C636.722 88.0383 641.797 84.1508 647.768 81.7584C653.738 79.067 660.305 77.8709 667.47 77.8709C673.141 77.8709 678.515 79.067 684.186 81.7584C689.56 84.4498 694.037 88.0383 697.023 92.823ZM694.933 138.577C696.426 134.988 697.023 131.101 697.023 127.213C697.023 123.325 696.426 119.438 694.933 115.849C693.739 112.261 691.649 109.27 689.261 106.28C686.873 103.589 683.888 101.495 680.306 99.701C676.724 98.2058 673.141 97.3087 668.664 97.3087C664.484 97.3087 660.604 98.2058 657.32 99.701C654.036 101.196 651.051 103.589 648.663 106.28C646.275 108.971 644.185 112.261 642.991 115.849C641.797 119.438 640.902 123.325 641.2 127.213C641.2 131.101 641.797 134.988 642.991 138.577C644.185 142.165 646.275 145.455 648.663 148.146C651.051 150.837 654.036 152.931 657.32 154.725C660.604 156.22 664.484 157.117 668.664 157.117C672.843 157.117 676.724 156.22 680.306 154.725C683.589 153.23 686.575 151.136 689.261 148.146C691.649 145.455 693.739 142.165 694.933 138.577ZM808.369 80.2632H830.758L794.339 174.163H766.278L729.859 80.2632H752.248L780.308 152.333L808.369 80.2632ZM879.416 77.8709C909.566 77.8709 930.462 104.486 926.581 135.287H852.549C852.549 143.361 860.908 158.912 880.61 158.912C897.625 158.912 908.969 144.258 908.969 144.258L923.894 155.622C910.461 169.677 899.416 176.256 882.401 176.256C851.654 176.256 830.758 157.117 830.758 126.914C830.459 100 851.952 77.8709 879.416 77.8709ZM852.549 119.139H905.685C905.387 117.345 902.7 95.5144 878.819 95.5144C855.236 95.2153 852.848 117.046 852.549 119.139ZM940.91 174.163V33.0144H963V174.163H940.91Z' fill='%231A1C2A'/%3E%3Cpath d='M482.105 248.165C478.515 246.043 475.523 243.315 473.728 239.677C471.634 236.04 470.736 231.796 470.736 226.946C470.736 222.096 471.634 217.852 473.728 214.214C475.822 210.577 478.515 207.849 482.105 205.727C485.695 203.605 489.884 202.695 494.97 202.695C497.961 202.695 500.953 203.302 503.945 204.211C506.937 205.121 509.031 206.333 510.826 207.849L506.937 216.639C503.047 213.911 499.158 212.396 494.97 212.396C491.08 212.396 488.388 213.608 486.293 216.033C484.199 218.458 483.302 222.096 483.302 226.643C483.302 231.493 484.199 235.13 486.293 237.555C488.388 239.98 491.379 241.193 494.97 241.193C499.158 241.193 503.047 239.677 506.937 236.949L510.826 245.74C509.031 247.256 506.638 248.468 503.945 249.377C500.953 250.287 497.961 250.893 494.97 250.893C489.884 251.196 485.695 250.287 482.105 248.165ZM552.711 250.59L548.522 240.89H527.58L523.392 250.59H510.826L532.965 203.302H542.838L564.977 250.59H552.711ZM531.769 231.493H544.633L538.35 216.639L531.769 231.493ZM605.665 203.302H615.239V250.59H604.469V229.068L595.493 250.59H587.715L578.739 229.068V250.59H567.969V203.302H577.842L591.903 235.737L605.665 203.302ZM624.215 203.302H657.722V213.002H636.182V221.793H656.227V231.493H636.182V241.193H657.722V250.893H624.215V203.302ZM704.993 250.59H691.829L685.845 234.827C685.247 233.008 683.452 232.099 680.759 232.099H676.272V250.59H664.005V203.302H685.845C691.53 203.302 695.718 204.514 698.71 206.939C701.702 209.364 702.898 213.002 702.898 217.549C702.898 220.883 702.001 223.611 700.206 225.733C698.411 228.158 696.017 229.674 693.025 230.583C694.222 230.887 695.419 231.493 696.616 232.402C697.812 233.311 698.411 234.827 699.009 236.343L704.993 250.59ZM689.735 221.793C690.931 220.883 691.53 219.671 691.53 217.852C691.53 216.033 690.931 214.821 689.735 213.911C688.538 213.002 686.743 212.699 684.05 212.699H676.272V223.005H684.05C686.743 223.005 688.538 222.399 689.735 221.793ZM720.849 248.165C717.259 246.346 714.566 243.315 712.472 239.677C710.677 236.04 709.48 231.796 709.48 226.643C709.48 221.793 710.378 217.549 712.472 213.911C714.267 210.274 717.259 207.546 720.849 205.424C724.439 203.302 728.628 202.392 733.415 202.392C738.201 202.392 742.39 203.302 745.98 205.424C749.57 207.242 752.263 210.274 754.058 213.911C755.853 217.549 757.05 221.793 757.05 226.643C757.05 231.493 756.152 235.737 754.058 239.677C752.263 243.315 749.57 246.043 745.98 248.165C742.39 250.287 738.201 251.196 733.415 251.196C728.628 251.196 724.439 250.287 720.849 248.165ZM741.792 237.858C743.886 235.433 744.783 231.796 744.783 226.946C744.783 222.096 743.886 218.458 741.792 216.033C739.697 213.608 737.005 212.396 733.415 212.396C729.824 212.396 727.132 213.608 725.038 216.033C722.943 218.458 722.046 222.096 722.046 226.946C722.046 231.796 722.943 235.433 725.038 237.858C727.132 240.284 729.824 241.496 733.415 241.496C737.005 241.799 739.697 240.284 741.792 237.858ZM774.103 248.165C770.513 246.346 767.82 243.315 765.726 239.677C763.931 236.04 762.734 231.796 762.734 226.643C762.734 221.793 763.632 217.549 765.726 213.911C767.521 210.274 770.513 207.546 774.103 205.424C777.693 203.605 781.881 202.392 786.668 202.392C791.455 202.392 795.644 203.302 799.234 205.424C802.824 207.546 805.516 210.274 807.312 213.911C809.107 217.549 810.303 221.793 810.303 226.643C810.303 231.493 809.406 235.737 807.312 239.677C805.516 243.315 802.824 246.043 799.234 248.165C795.644 250.287 791.455 251.196 786.668 251.196C781.881 251.196 777.693 250.287 774.103 248.165ZM795.045 237.858C797.139 235.433 798.037 231.796 798.037 226.946C798.037 222.096 797.139 218.458 795.045 216.033C792.951 213.608 790.258 212.396 786.668 212.396C783.078 212.396 780.385 213.608 778.291 216.033C776.197 218.458 775.299 222.096 775.299 226.946C775.299 231.796 776.197 235.433 778.291 237.858C780.385 240.284 783.078 241.496 786.668 241.496C790.258 241.799 792.951 240.284 795.045 237.858ZM859.668 203.302V250.59H850.393L829.152 223.611V250.59H817.484V203.302H826.459L847.701 229.977V203.302H859.668Z' fill='%231A1C2A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4506_22'%3E%3Crect width='963' height='300' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") !important;
    width: 50% !important; */

    background-repeat: no-repeat no-repeat !important;
    background-position: center center !important;
    background-size: contain !important;
}
